<form method="post" action="{{ path('delete_user', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer l\'utilisateur ?');">
    <input type="hidden" name="token" value="{{ csrf_token('delete_user_' ~ app.user.id) }}">
    <button type="submit" class="block text-sm w-1/3 px-2 mb-5 mx-auto"><span class="border-b border-red-500 text-red-500">supprimer</span></button>
</form>
