<form method="post" action="{{ path('delete_user', {'id': app.user.id}) }}" onsubmit="return confirm('Êtes-vous sur de vouloir supprimer l\'utilisateur ?');">
    <input type="hidden" name="token" value="{{ csrf_token('delete_user_' ~ app.user.id) }}">
    <button type="submit" class="border border-red-500 bg-red-300 text-red-500 text-sm rounded px-2 mb-5">supprimer</button>
</form>
