<form action="{{ path('trick_delete', {'id': trick.id}) }}" method="post" class="text-center" onsubmit="return confirm('Êtes vous sur de vouloir supprimer le trick : {{ trick.name }} {{ trick.category.name }}')">
    <input type="hidden" name="token" value="{{ csrf_token('delete_trick_' ~ trick.id) }}">
    <button type="submit" class="border border-red-500 bg-red-300 text-red-500 text-sm rounded px-2 mb-5">supprimer</button>
</form>