<form action="{{ path('comment_delete', {'id': comment.id}) }}" method="post" class="text-center" onsubmit="return confirm('Êtes vous sur de vouloir supprimer le commentaire ?')">
    <input type="hidden" name="token" value="{{ csrf_token('delete_comment_' ~ comment.id) }}">
    <button type="submit" class="border border-red-500 bg-red-300 text-red-500 text-sm rounded px-2 mb-5">supprimer</button>
</form>