{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <div class="w-full h-screen flex justify-center items-center bg-connection">
        <form method="post" class="w-96 bg-white shadow">

            <h1 class="bg-blue-400 text-white font-semibold text-2xl p-5">Reset Password !</h1>

            <div class="px-5 pt-5 pb-3">
                <label for="email" class="text-blue-400 block">Email</label>
                <input type="email" name="email" id="email" class="tw-form-field" required autofocus>
            </div>

            <input type="hidden" name="token" value="{{ csrf_token('reset-password') }}">

            <div class="p-5">
                <button class="btn-blue w-full" type="submit">Envoyer</button>
            </div>
        </form>
    </div>

{% endblock %}