<!DOCTYPE html>
<html lang="fr">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- font-awesome -->
    <script src="https://kit.fontawesome.com/00a29b1fe9.js" crossorigin="anonymous"></script>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    <title>{% block title %}SnowTricks{% endblock %}</title>
</head>
<body>
    <div id="topbar" class="fixed top-0 w-full p-4 text-right hidden xl:flex justify-between z-40 transition-all duration-300">
        <div class="text-white">
            <a href="/">
                <i class="fas fa-snowboarding text-4xl ml-2 mr-1"></i>
                <span class="text-2xl snowtricks-title">
                    <span class="text-blue-400 snowtricks-title">S</span>now<span class="text-blue-400 snowtricks-title">T</span>ricks
                </span>
            </a>
        </div>

        <div>
            <button id="register-btn" class="bg-white hover:bg-blue-400 text-blue-400 hover:text-white border border-blue-400 rounded-none py-2 px-3 mr-3"><i class="fas fa-user-plus"></i> Inscription</button>
            <button id="login-btn" class="bg-blue-400 hover:bg-white text-white hover:text-blue-400 border border-blue-400 rounded-none py-2 px-3"><i class="fas fa-sign-in-alt"></i> Connexion</button>
        </div>
    </div>

    <div id="bottombar" class="fixed bottom-0 w-full h-16 block md:hidden bg-gray-800 grid grid-cols-3">
        <div class="text-white flex justify-center items-center">
            <a href="/"><i class="fas fa-home text-3xl"></i></a>
        </div>
        <div class="text-white flex justify-center items-center">
            <a href="#tricks"><i class="fas fa-snowboarding text-3xl"></i></a>
        </div>
        <div class="text-white flex justify-center items-center">
            <button id="nav-btn" class="text-white text-3xl"><i class="fas fa-sign-in-alt"></i></button>
        </div>
    </div>

    <nav class="fixed top-o -right-full w-full xl:w-1/5 h-screen bg-gray-800 z-50 transition-all duration-500">
        <i id="close-nav" class="fas fa-times text-white text-lg border-2 border-white px-3 py-1 rounded-full absolute top-3 right-3 cursor-pointer"></i>
        <h6 class="text-white text-2xl mt-20 ml-5 mb-5">Se connecter.</h6>
        <form action="" class="w-11/12 mx-auto">
            <label for="login_email" class="text-white pl-2">Adresse email</label>
            <input id="login_email" type="email" class="rounded-full w-full h-7 mb-3">

            <label for="login_password" class="text-white pl-2">Mot de passe</label>
            <input id="login_password" type="email" class="rounded-full w-full h-7 mb-5">

            <button class="bg-blue-400 text-white w-full rounded-full w-full h-7">Connexion</button>
        </form>
    </nav>

    {% block body %}{% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <script type="text/javascript">

        document.getElementById('login-btn').addEventListener('click', function(){
            document.querySelector('nav').style.right = "0px";
        });

        document.getElementById('register-btn').addEventListener('click', function(){
            document.querySelector('nav').style.right = "0px";
        });

        document.getElementById('nav-btn').addEventListener('click', function(){
            document.querySelector('nav').style.right = "0px";
        });

        document.getElementById('close-nav').addEventListener('click', function(){
            let nav_width = document.querySelector('nav').offsetWidth;
            document.querySelector('nav').style.right = "-" + nav_width + "px";
        });

        window.addEventListener('scroll', function() {
            if(window.scrollY > 50)
            {
                document.getElementById('topbar').classList.add('bg-black', 'bg-opacity-75');
            }
            else if(window.scrollY < 50)
            {
                document.getElementById('topbar').classList.remove('bg-black', 'bg-opacity-75');
            }
        })

    </script>

</body>
</html>