{% extends 'base.html.twig' %}

{% block body %}
    <div class="bg-gray-100 pt-32 pb-14">
    <!-- TODO responsive -->
        <main class="w-3/5 py-12 mx-auto bg-white shadow">
            <h1 class="text-3xl text-blue-400 w-1/2 mx-auto text-center mb-10"><i class="fas fa-plus mr-1"></i> Ajouter un nouveau trick</h1>

            {%  include 'form/_trick_form.html.twig' %}
        </main>
    </div>
{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.js" integrity="sha256-DrT5NfxfbHvMHux31Lkhxg42LY6of8TaYyK50jnxRnM=" crossOrigin="anonymous"></script>

<script type="text/javascript">
    document.getElementById('topbar').classList.add('bg-gray-800');

    /*
     * Create Tricks Page : Show Range Value
     */

    function showRangeValue(value) {
        switch(value)
        {
            case '1':
                document.getElementById('rangeValue').value= ' : Débutant';
                document.getElementById('rangeValue').classList.value = '';
                document.getElementById('rangeValue').classList.add('font-semibold','text-green-400');
                break;
            case '2':
                document.getElementById('rangeValue').value= ' : Intermédiaire';
                document.getElementById('rangeValue').classList.value = '';
                document.getElementById('rangeValue').classList.add('font-semibold','text-blue-400');
                break;
            case '3':
                document.getElementById('rangeValue').value= ' : Expert';
                document.getElementById('rangeValue').classList.value = '';
                document.getElementById('rangeValue').classList.add('font-semibold','text-red-400');
                break;
        }
    }


    /*
     * Create Tricks Page : Add videos row
     */

    jQuery(document).ready(function () {
        jQuery('.add-video-widget, .add-media-widget').click(function (e) {
            var list = jQuery(jQuery(this).attr('data-list-selector'));
            var counter = list.data('widget-counter') || list.children().length;

            var newWidget = list.attr('data-prototype');
            newWidget = newWidget.replace(/__name__/g, counter);
            counter++;
            list.data('widget-counter', counter);

            var newElem = jQuery(list.attr('data-widget-tags')).html(newWidget);
            newElem.appendTo(list);
        });
    });

</script>
{% endblock %}