{%  extends 'base.html.twig' %}

{% block body %}
    <main class="xl:grid xl:grid-cols-2 min-h-screen">
        <figure class="h-96 xl:fixed xl:h-screen xl:w-1/2 overflow-hidden">
            <img class="object-cover min-h-full min-w-full" src="{{ asset('media/images/nose.jpg') }}" alt="">
        </figure>
        <div class="col-start-2 pt-8 md:pt-28">
            <h1 class="text-4xl font-bold mx-8">Nose Grab</h1>
            <h6 class="inline-block text-sm italic text-gray-500 mx-8">
                <i class="fas fa-star text-blue-400"></i>
                <i class="fas fa-star-half-alt text-blue-400"></i>
                <i class="far fa-star text-blue-400"></i>
                <i class="far fa-star text-blue-400"></i>
                <i class="far fa-star text-blue-400"></i>
            </h6>
            <h6 class="text-sm italic text-gray-500  mx-8">Modification: <i class="far fa-clock ml-1"></i> 04/01/2021</h6>

            <p class="mx-8 my-10 text-justify text-gray-800">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam laudantium sunt veritatis. Commodi consequuntur est ipsa molestias neque quisquam suscipit voluptas. Aperiam architecto consequuntur debitis dicta distinctio doloribus error excepturi fuga hic inventore iste libero maxime minus natus, nostrum nulla possimus provident quas qui quia quidem quo rerum saepe sapiente sint temporibus, totam vitae voluptate voluptates voluptatum. Consectetur cumque dolores fuga, illum nam sed. <br><br>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa ipsam laudantium sunt veritatis. Commodi consequuntur est ipsa molestias neque quisquam suscipit voluptas.
            </p>

            <div class="grid grid-col-1 md:grid-cols-3 mx-6 my-6">
                <figure class="w-full md:w-11/12 mx-auto mb-5 md:mb-0">
                    <img class="object-cover min-w-full  max-h-52 md:min-h-full" src="http://placehold.it/200x150" alt="">
                </figure>
                <figure class="w-full md:w-11/12 mx-auto mb-5 md:mb-0">
                    <img class="object-cover min-w-full  max-h-52 md:min-h-full" src="http://placehold.it/200x150" alt="">
                </figure>
                <figure class="w-full md:w-11/12 mx-auto mb-5 md:mb-0">
                    <img class="object-cover min-w-full  max-h-52 md:min-h-full" src="http://placehold.it/200x150" alt="">
                </figure>
            </div>

            <div class="grid grid-col-1 md:grid-cols-2 mx-6 my-8">
                <iframe class="w-full md:w-11/12 h-48 mx-auto mb-5 md:mb-0" src="https://www.youtube.com/embed/gZFWW4Vus-Q" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <iframe class="w-full md:w-11/12 h-48 mx-auto mb-5 md:mb-0" src="https://www.youtube.com/embed/_Qq-YoXwNQY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>

            <h3 class="text-blue-400 text-xl px-8 mt-10">Vos réactions</h3>

            <form action="" class="px-8 mb-8">
                <textarea class="block border border-gray-200 rounded w-full h-40" name=""></textarea>
                <button class="block bg-blue-400 text-white rounded w-full pt-2 pb-1 mt-3" type="submit">Valider</button>
            </form>

            <div class="border border-gray-200 mx-8 md:grid md:grid-cols-6 mb-5">
                <figure class="pt-4 pb-0 px-4 md:p-4">
                    <img class="rounded-full w-1/4 md:w-full mx-auto" src="http://placehold.it/800x800" alt="">
                </figure>
                <div class="md:col-span-5 flex justify-center items-center text-center md:text-left p-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi deleniti ea eligendi est fugiat itaque maxime necessitatibus nihil non nostrum quis, rem sed tempore, voluptatum.</p>
                </div>
            </div>

            <footer class="w-full h-16 bg-gray-800 text-white flex justify-center items-center"><p class="hidden md:block">Copyright &copy; <span class="text-blue-400">S</span>now<span class="text-blue-400">T</span>ricks 2021</p></footer>
        </div>
    </main>
{% endblock %}